/* Coolors Exported Palette - https://coolors.co/080708-0f162e-1d46d7-01bff4-d2dad6-ffffff */

/* CSS */
--rich-black-fogra-39: hsla(300, 7%, 3%, 1);
--oxford-blue: hsla(226, 51%, 12%, 1);
--denim-blue: hsla(227, 76%, 48%, 1);
--cyan-process: hsla(193, 99%, 48%, 1);
--light-gray: hsla(150, 10%, 84%, 1);
--white: hsla(0, 0%, 100%, 1);

/* SCSS HEX */
$rich-black-fogra-39: #080708ff;
$oxford-blue: #0f162eff;
$denim-blue: #1d46d7ff;
$cyan-process: #01bff4ff;
$light-gray: #d2dad6ff;
$white: #ffffffff;

/* SCSS HSL */
$rich-black-fogra-39: hsla(300, 7%, 3%, 1);
$oxford-blue: hsla(226, 51%, 12%, 1);
$denim-blue: hsla(227, 76%, 48%, 1);
$cyan-process: hsla(193, 99%, 48%, 1);
$light-gray: hsla(150, 10%, 84%, 1);
$white: hsla(0, 0%, 100%, 1);

/* SCSS RGB */
$rich-black-fogra-39: rgba(8, 7, 8, 1);
$oxford-blue: rgba(15, 22, 46, 1);
$denim-blue: rgba(29, 70, 215, 1);
$cyan-process: rgba(1, 191, 244, 1);
$light-gray: rgba(210, 218, 214, 1);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #080708ff, #0f162eff, #1d46d7ff, #01bff4ff, #d2dad6ff, #ffffffff);
$gradient-right: linear-gradient(90deg, #080708ff, #0f162eff, #1d46d7ff, #01bff4ff, #d2dad6ff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #080708ff, #0f162eff, #1d46d7ff, #01bff4ff, #d2dad6ff, #ffffffff);
$gradient-left: linear-gradient(270deg, #080708ff, #0f162eff, #1d46d7ff, #01bff4ff, #d2dad6ff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #080708ff, #0f162eff, #1d46d7ff, #01bff4ff, #d2dad6ff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #080708ff, #0f162eff, #1d46d7ff, #01bff4ff, #d2dad6ff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #080708ff, #0f162eff, #1d46d7ff, #01bff4ff, #d2dad6ff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #080708ff, #0f162eff, #1d46d7ff, #01bff4ff, #d2dad6ff, #ffffffff);
$gradient-radial: radial-gradient(#080708ff, #0f162eff, #1d46d7ff, #01bff4ff, #d2dad6ff, #ffffffff);